.heroQualities {
  max-width: 100%;
  margin: 80px 0;
}

.wrapper {
  position: relative;
  display: block;
  height: 100%;
}

/* TITLE STYLES */

.title {
  padding-top: 90px;
  text-align: center;
}

/* QUALITIES STYLES */

.qualities {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  padding-bottom: 120px;
  margin-top: 120px;
}

@media only screen and (max-width: 1150px) {
  .qualities {
    gap: 50px;
    margin-top: 60px;
  }
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quality img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
  .quality img {
    width: 70px;
    height: auto;
  }
}

.quality h3 {
  margin-top: 10px;
}

.quality p {
  width: 220px;
  margin-top: 10px;
  text-align: center;
}

/* BACKGROUND STYLES */

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../../../public/HeroQualitiesPics/background-pic.png') no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* LAPTOP */
@media only screen and (max-width: 920px) and (max-height: 1380px) {
  .background {
    background-position: -80vw;
  }
}

/* 50% DESKTOP SCREEN */
@media only screen and (max-width: 750px) {
  .background {
    background-position: -85vw;
  }
}

/* PHONE */
@media only screen and (max-width: 420px) {
  .background {
    background-position: -125vw;
    background-size: cover;
  }
}

.blur {
  height: 100%;
  background: rgba(250, 192, 170, .4);
  backdrop-filter: blur(5px);
}
