.button {
  padding: 10px 25px;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  background-color: #fac0aa;
  border: 0;
  border-radius: 15px;
}

.secondary {
  color: #000000;
  background-color: #ffffff;
}

.link {
  margin: 0 auto;
}
