.about {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 1200px;
}

.title {
  max-width: 870px;
  margin-left: 4vw;
}

.title p {
  margin-top: 3vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(.6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 1100px) {
  .image {
    background-position: top right;
  }
}

@media screen and (max-width: 768px) {
  .about {
    align-items: flex-end;
    min-height: 700px;
    padding-bottom: 50px;
  }

  .image {
    min-width: 100%;
    background-position: 80% center;
    object-position: right;
  }
}

@media screen and (max-width: 425px) {
  .image {
    object-position: -575px;
  }
}
