.title {
  text-align: center;
  font-size: 24px;
  color: #4c5056;
}

.title span {
  color: #fac0aa;
}

.description {
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #4c5056;
}
.wrapper {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.triggers-wrapper {
  display: flex;
  justify-content: center;
}

.triggers {
  border: 1px #fac0aa solid;
  display: flex;
  border-radius: 12px;
}

.trigger {
  font-size: 16px;
  color: #4c5056;
  padding: 20px;
  cursor: pointer;
}

.trigger--active {
  background-color: #fac0aa;
  color: #ffffff;
  border-radius: 12px;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  width: 250px;
  padding: 20px;
  border: 1px #fac0aa solid;
}

.img {
  max-width: 100%;
  height: auto;
}

.item-title {
  margin-top: 5px;
  font-size: 18px;
  color: #4c5056;
}

.item-description {
  margin-top: 5px;
  font-size: 16px;
  color: #4c5056;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
