.section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 840px;
}

.title {
  max-width: 700px;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.description {
  max-width: 500px;
  margin-top: 30px;
  font-size: 20px;
  color: #ffffff;
}

.sign {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  margin-top: 60px;
}

.btn {
  padding: 20px 40px;
  font-size: 20px;
  color: #ffffff;
  background: #fac0aa;
  border: 0;
  border-radius: 15px;
}

.video-about {
  display: flex;
  gap: 15px;
  align-items: center;
}

.img {
  width: 60px;
}

.text {
  font-size: 20px;
  color: #ffffff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
