* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
button,
a {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #4c5056;
}

button {
  background: none;
  border: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 90px auto;
}

.primary-color {
  color: #fac0aa;
}

.secondary-color {
  color: #4c5056;
}

.third-color {
  color: #ffffff;
}

.background-base {
  background: #ffffff;
}

.background-accent-1 {
  background: #fac0aa;
}

.heading1 {
  font-size: 3.6rem;
  line-height: 1.2;
}

.heading2 {
  font-size: 3rem;
  line-height: 1.2;
}

.heading3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .heading1 {
    font-size: 3rem;
  }

  .heading2 {
    font-size: 2.4rem;
  }

  .heading3 {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.6rem;
  }
}

.invisible-child {
  opacity: 0;
  transition: transform ease-in .5s, opacity ease-in .8s;
}

.start-animation-top-down {
  transform: translateY(40%);
}

.start-animation-near-far {
  transform: translateZ(-1000px);
}

.start-animation-side-left {
  transform: translateX(-40%);
}

.start-animation-scale {
  transform: scale(1.1);
}

.invisible-child:nth-child(1) {
  transition-delay: 100ms;
}

.invisible-child:nth-child(2) {
  transition-delay: 300ms;
}

.invisible-child:nth-child(3) {
  transition-delay: 500ms;
}

.invisible-child:nth-child(4) {
  transition-delay: 700ms;
}

.invisible-child:nth-child(5) {
  transition-delay: 900ms;
}

.invisible-child:nth-child(6) {
  transition-delay: 1100ms;
}

.invisible-child:nth-child(7) {
  transition-delay: 1300ms;
}

.invisible-child:nth-child(8) {
  transition-delay: 1500ms;
}

.end-animation-top-down {
  transform: translateY(0);
}

.end-animation-near-far {
  transform: translateZ(0);
}

.end-animation-side-left {
  transform: translateX(0);
}

.end-animation-scale {
  transform: scale(1);
}

.fade-in {
  opacity: 1;
}

@keyframes flip-animation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(720deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hamburger {
  position: relative;
  z-index: 1;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.hamburger .line {
  display: block;
  width: 50px;
  height: 5px;
  margin: 8px auto;
  background-color: #000000;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
    margin-top: 20px;
  }
}
