.title {
  font-size: 24px;
  color: #4c5056;
  text-align: center;
}

.title span {
  color: #fac0aa;
}

.accordion {
  width: 100%;
  margin: 40px auto;
}

.wrapper {
  overflow: hidden;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  color: #4c5056;
  cursor: pointer;
  border-bottom: 2px dashed #949596;
}

.trigger::after {
  margin-left: auto;
  content: '+';
}

.description {
  max-height: 0;
  margin-left: 10px;
  font-size: 18px;
  color: #4c5056;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.description span {
  display: block;
  margin-top: 20px;
}

.description.active {
  max-height: 110000px;
  transition: max-height 1s ease-in-out;
}
