.title {
  font-size: 24px;
  color: #4c5056;
  text-align: center;
}

.title span {
  color: #fac0aa;
}

.accordion {
  width: 100%;
  margin: 40px auto;
}

.wrapper {
  overflow: hidden;
}

.trigger {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  color: #4c5056;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed #949596;
  outline: none;
}

.trigger::after {
  margin-left: auto;
  content: '+';
  transition: transform .2s ease;
}

.trigger:hover::after {
  transform: rotate(45deg);
}

.description {
  margin-left: 10px;
  font-size: 18px;
  color: #4c5056;
  transition: max-height .3s ease;
}

.description span {
  display: block;
  margin-top: 20px;
}

