.team {
  position: relative;
  width: 100%;
  padding: 40px 0;
  object-fit: cover;
  background:
    url('https://res.cloudinary.com/dkqwi0tah/image/upload/q_auto/v1685610020/Paravina-rebuild/bg-team_d8lfet.png'),
    #ffffff;
  background-repeat: no-repeat;
}

.team > div {
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #4c5056;
  text-align: center;
}

.title span {
  color: #fac0aa;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #4c5056;
  text-align: center;
}

.swiper-slider {
  margin-top: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 540px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.content {
  padding-left: 20px;
}

.name {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.role {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #4c5056;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.btn {
  max-width: 140px;
  max-height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.arrows {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  background: #fac0aa;
  border: 2px solid #fac0aa;
  border-radius: 50%;
}

.prev {
  transform: rotate(180deg);
}

@media (max-width: 300px) {
  .btn {
    max-width: 100px;
    font-size: .9rem;
  }
}

