.header {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  background-color: rgb(82, 92, 69); /* цвет оставлен для так как весь текст header белый */
}

.link {
  position: relative;
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 450px) {
  .link {
    width: 100%;
  }
}

.link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #fac0aa;
  border-radius: 4px;
  transition: transform .3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 485px;
  margin: 0 auto;
  margin-top: 70px;
}

@media (max-width: 450px) {
  .nav {
    margin-top: 20px;
  }
}

.logo {
  display: flex;
  justify-content: start;
  width: 100%;
}

.img {
  width: 30%;
  max-width: 290px;
  height: fit-content;
}
