.header-wrapper {
  margin-bottom: 130px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header::after {
  position: absolute;
  top: -3px;
  right: -5px;
  bottom: 0;
  left: -5px;
  content: '';
  background-color: #4c5056;
  filter: blur(2px);
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  opacity: .95;
}

.header > div {
  position: relative;
  z-index: 1;
  display: flex;
  max-height: 150px;
  padding: 30px 50px 40px;
}

.header-visible {
  position: unset;
  background: rgba(76, 80, 86, .4);
}

.header-link {
  position: relative;
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}

.header-link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #fac0aa;
  border-radius: 4px;
  transition: transform .3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

.header-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.header-nav {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-left: 380px;
}

