
.triggers-wrapper {
  margin: 0 auto;
  margin-bottom: 50px;
}

.triggers {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  background-color: #ffffff;
  border: 1px #fac0aa solid;
  border-radius: 15px;
}

.trigger {
  min-width: 200px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.trigger:hover {
  color: #ffffff;
  background-color: #4c5056;
  border-radius: 15px;
}

.trigger--active {
  min-width: 200px;
  color: #4c5056;
  text-align: center;
  background-color: #fac0aa;
  border-radius: 15px;
}

.trigger--active:hover {
  color: #4c5056;
  background-color: #fac0aa;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}


.item-invisible {
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.item-visible {
  max-height: fit-content;
}

.img {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 5px;
}

.description {
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .triggers {
    flex-wrap: wrap;
    overflow-x: none;
    border-radius: 15px;
  }

  .trigger,
  .trigger--active {
    min-width: 100%;
    word-wrap: break-word;
    border-radius: 0;
    padding: 10px 20px;
  }

  .trigger:hover {
    border-radius: 0;
  }

  .trigger:not(:last-child) {
    border-bottom: 1px #fac0aa solid;
  }
}

