.title {
  margin-bottom: 90px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-flow: row;
  gap: 20px;
  place-items: center;
  justify-content: space-around;
  margin-bottom: 150px;
}

.imgWide {
  grid-row-start: span 3;
}

.swiper {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.img {
  display: block;
  width: 100%;
  height: 340px;
}

.arrows {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  background: #fac0aa;
  border: 2px solid #fac0aa;
  border-radius: 50%;
}

.prev {
  transform: rotate(180deg);
}

@media screen and (max-width: 580px) {
  .gallery {
    display: none;
  }

  .swiper {
    display: block;
  }

  .title {
    margin-bottom: 50px;
  }
}
