.standards_wrapper {
    margin: 90px 0
}

.title {
    margin-top: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #4C5056;
}

.title span {
    color: #FAC0AA;
}

.description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4C5056;
}

.cards_list {
    list-style-type: none;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
    grid-column-gap: 15px;
    grid-row-gap: 26px;
}

.card {
    margin: 0 auto;
    width: 250px;
}

.img {
    display: block;
    width: 250px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_title {
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FAC0AA;
}

.card_text {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    color: #4C5056;
}
