.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 90px 20px 70px;
  background-color: #fac0aa;
}

.additional {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 30px;
  align-items: baseline;
  justify-content: space-around;
  width: 65%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 25%;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
}

.adress,
.schedule,
.phone,
.documentation {
  flex: 0 0 45%;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}

.link {
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-decoration: underline;
}
