.prices {
  padding: 40px;
  overflow: hidden;
  color: #4c5056;
  background-color: #fac0aa;
  border-radius: 15px;
}

.title {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 6rem;
}

.button {
  font-size: 8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list {
  display: flex;
  gap: 300px;
  justify-content: space-between;
  padding: 40px;
  overflow: hidden;
  font-size: 3rem;
  line-height: 58px;
  border-top: 1px dashed #4c5056;
}

@media screen and (max-width: 1200px) {
  .list {
    gap: 100px;
  }
}

.list:last-child {
  border-bottom: 1px dashed #4c5056;
}

.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.trigger {
  display: flex;
  align-items: center;
  font-size: 7rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.trigger:focus-visible {
  background-color: #f5f5f5;
}

.trigger::after {
  margin-left: auto;
  content: '+';
  transition: transform .2s ease;
}

.active .trigger::after {
  transform: rotate(45deg);
}
