.clinickAdvantages {
  width: 100%;
  margin: 80px 0;
}

.wrapper {
  position: relative;
  display: block;
  height: 100%;
}

.title {
  padding-top: 100px;
  text-align: center;
}

.text {
  max-width: 750px;
  padding: 0 20px 100px;
  margin: 50px auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .text {
    max-width: 600px;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    max-width: 350px;
    margin: 35px auto;
  }
}

/* BACKGROUND STYLES */

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../../../public/ClinicAdvantagesPics/backgroundImg.png') no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  .background {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 420px) {
  .background {
    background-attachment: scroll;
    background-position: -30vw;
  }
}

.field {
  height: 100%;
  background: rgba(255, 255, 255, .5);
}
